@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.btn {
    padding: 0px 0px 0px 0px;
}

.item-button {
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 0px;
    width: 30px;
    height: 30px;
}

.edit-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 45px;
    height: 40px;
}