<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">Simple List</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li *ngIf="!isLogged" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/login']">
                    <span class='glyphicon glyphicon-log-in'></span> Login
                </a>
            </li>
            <li *ngIf="isLogged" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/list']">
                    <span class='glyphicon glyphicon-th-list'></span> List
                </a>
            </li>
            </ul>
            <ul *ngIf="isLogged" class="nav navbar-nav navbar-right">
                <li class="navbar-login">
                    {{user}}
                </li>
                <li logout>
                </li>
            </ul>
        </div>
    </div>
</nav>
